.input.is-light {
  background-color: white !important;
  color: black !important;
  border-color: #dbdbdb !important;
  box-shadow: none !important;
}

.input.is-light::placeholder {
  color: #666666 !important;
  opacity: 1; /* força a opacidade para ficar bem visível */
}


.map-wrapper {
  position: relative;
  z-index: 0;
}

.blurred {
  filter: blur(5px); /* desfoca o mapa */
  pointer-events: none; /* evita clique no mapa quando desfocado */
}

.overlay-user {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.4); /* semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px); /* opcional: desfoca o fundo da própria camada */
}

